<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BlogApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Autores</a>
                </li>

                <!-- Estos se muestran solo en pantallas grandes (desktop) -->
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" href="#">Política</a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" href="#">Tecnología</a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" href="#">Salud</a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" href="#">Deportes</a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" href="#">Viajes</a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" href="#">Educación</a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" href="#">Entretenimiento</a>
                </li>

                <!-- Dropdown que solo aparece en pantallas chicas (celulares) -->
                <li class="nav-item dropdown d-lg-none">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Secciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Política</a></li>
                        <li><a class="dropdown-item" href="#">Tecnología</a></li>
                        <li><a class="dropdown-item" href="#">Salud</a></li>
                        <li><a class="dropdown-item" href="#">Deportes</a></li>
                        <li><a class="dropdown-item" href="#">Viajes</a></li>
                        <li><a class="dropdown-item" href="#">Educación</a></li>
                        <li><a class="dropdown-item" href="#">Entretenimiento</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="#">
                        <mat-icon class="me-1">account_circle</mat-icon> Mi Perfil
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>