<section class="login-page">
    <div class="form-container">
      <p class="title">Welcome </p>
      <form class="form" [formGroup]="form">
        <input type="email" class="input" placeholder="Username" formControlName="username">
         <div *ngIf="form.get('username')?.touched && form.get('username')?.invalid" class="error-message">
    Por favor introduce un usuario
  </div>
        <input type="password" class="input" placeholder="Password" formControlName="password">
         <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="error-message">
    Por favor introduce una contraseña
  </div>
       
        <button class="form-btn" type="submit" (click)="login()">Log in</button>
      </form>
      <p class="sign-up-label">
        Don't have an account?<span class="sign-up-link" (click)="goRegister()">Sign up</span>
      </p>
      
    </div>

</section>
