section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.button-creator {
    display: flex;
    justify-content: end;
    padding: 20px;
    width: 100%;
}