<app-header></app-header>
@if (!spinner.loading()) {
    <div style="width: 100%; justify-content: end; display: flex; padding: 20px; ">
        <button matButton="filled" class="btn btn-primary btn-lg" [routerLink]="['/crear']">Crear Blog</button>
    </div>
@if (myBlogs$.length > 0) {
    
    
<div class="blogs-wrapper">
    <app-card-blog [blogs]="myBlogs$" [mostrarAcciones]="true" (blogEliminado)="onBlogEliminado($event)"></app-card-blog>
</div>
} @else {
<div class="sin-contenido">
    Todavía no has publicado ningun artículo
</div>
}
}

