section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}

.sin-contenido {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    color: red;
    font-size: 1.5rem;
}

.blogs-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem;
  justify-content: center;
  width: 100%;
  max-width: 1300px; 
}
